---
layout: archive
permalink: /tags/
title: "Posts by Tag"
author_profile: true
---

{% include group-by-array collection=site.posts field="tags" %}

{% for tag in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <h2 id="{{ tag | slugify }}" class="archive__subtitle">{{ tag }}</h2>
  {% for post in posts %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}

<!--
les tags que j'utilise, en attendant de trouvre comment les lister automatiquement...
3dPrint
Android
backoffice
braincandy
CNC
contribute
currency
EN
FR
Fusion360
Gamification
github
Inkscape
Jobs
lasersaur
materials
Openbadge
Openfab
superUser
timelord
tools

-->
