<aside>
	<div class="panel radius">
		<h3>Sidebar</h3>
		<p>
			## Overview of a learning path to autodidacte

Here is a possible outline for an introduction course to becoming an autodidact, with a progression in four levels:

### Level 1: Setting Goals and Finding Resources
### Level 2: Developing Self-Motivation and Self-Discipline
### Level 3: Reflecting on Progress and Building a Learning Community
### Level 4: Experimentation and Risk-Taking
		</p>
	</div>

  <img class="b30" src="https://dummyimage.com/303x170/000/fff&amp;text=shall+we+play+a+game" alt="">


	<div class="border-dotted radius b30">

		
		<img src="https://i.pinimg.com/originals/ea/e8/7f/eae87f33d03cadd42c484556f8718491.jpg" alt="uh, Placekitten">
		<!-- <img src="http://placekitten.com/271/270" alt="uh, Placekitten"> -->
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="http://placekitten.com/">More cats, please!</a>
		</p>
	</div>
</aside>